{% for record in data %}
  <table class="tabledemo">
    <tr class="bg-blue">
      <td class="data">{{record.name}}</td>
      <td>{{record.label1}}</td>
      <td>{{record.count}}</td>
    </tr>
  </table>
{% endfor %}
